{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}

    <div class="container">
    {% for p in panier %}
        <hr>
        <div class="row">
            <div class="col-6">
                <h5>{{ p[0].name }}</h5>
            </div>
            <div class="col-2">
                <p>Quantité : {{ p[1] }}</p>
                <a href="{{ path('products_basket_modify', {id: p[0].id, modification: 'minus'}) }}"><i class="fas fa-minus-circle"></i></a>
                <a href="{{ path('products_basket_modify', {id: p[0].id, modification: 'plus'}) }}"><i class="fas fa-plus-circle"></i></a>
            </div>
            <div class="col-2">
                <p>Prix : {{ p[1] * p[0].price }}€</p>
            </div>
            <div class="col-2">
                <a class="btn" href="{{ path('products_basket_delete', {id: p[0].id}) }}">Retirer du panier</a>
            </div>
        </div>
    {% endfor %}
        <hr>
        <div class="row">
            <div class="col-6">
                <h4><b>TOTAL</b></h4>
            </div>
            <div class="col-2">
                <p>{{ total_price }}€</p>
            </div>
        </div>
        <div class="row">
            <a class="btn" href="{{ path('products_basket_delete_all') }}">Vider le panier</a>
        </div>
    </div>

{% endblock %}