<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('../assets/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('../assets/css/all.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <style>
        nav {
            display: flex;
            justify-content: space-evenly;
        }
        nav a, nav i {
            font-size: 25px;
        }
        #basket_link {
            position: relative;
            height: fit-content;
        }
        #basket_link span {
            position: absolute;
            right: -5px;
            bottom: -5px;
            font-size: 11px;
            background: whitesmoke;
            border-radius: 8px;
            padding: 2px;
        }
        .product_img {
            width: 80%;
            height: 100%;
        }
    </style>
    <nav>
        <a href="{{ path('products_index') }}">Accueil</a>
        {% set panier_session = app.session.get('panier') %}
        {% set panier_number = 0 %}
        {% for p in panier_session %}
            {% set panier_number = panier_number + p %}
        {% endfor %}
        <a id="basket_link" href="{{ path('products_basket') }}"><i class="fas fa-shopping-basket"></i><span>{{ panier_number }}</span></a>
        <p>Langue : {{ app.request.locale }} 
        {% if app.request.locale == 'fr' %}
            <a class="btn" href="{{ path('products_index', {'_locale': 'en'}) }}">Changer la langue</a>
        {% elseif app.request.locale == 'en'%}
            <a class="btn" href="{{ path('products_index', {'_locale': 'fr'}) }}">Changer la langue</a>
        {% endif %}
        </p>
        <a class="btn" href="{{ path('products_to_json') }}">Liste des produits en JSON</a>
    </nav>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
